/.DS_Store
/*/.DS_Store
/*/node_modules
/*/dist
/*/.env
/*/.classpath
/*/.project
/*/.settings
/*/target
/*/.vscode
/*/bin
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/darwin_amd64/terraform-provider-aws_v5.100.0_x5
/backend/uploads
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
