/.DS_Store
/*/.DS_Store
/*/node_modules
/*/dist
/*/.env
/*/.classpath
/*/.project
/*/.settings
/*/target
/*/.vscode
/*/bin
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/.terraform/*
/backend/uploads
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
